{% extends ../base.html %}
{% block body %}
 <div id="websites" class="span-16">
 	<h3>{{escape(user.openid_name)}}
    {% if user.blog_url %}
        {% if user.blog_name %}
            (<a target="_blank" href="{{user.blog_url}}" alt="{{escape(user.blog_name)}}">{{escape(user.blog_name)}}</a>)
        {% else %}
            (<a target="_blank" href="{{user.blog_url}}">{{user.blog_url}}</a>)
        {% end %}
    {% end %}
    submitted sites
    </h3>
	{% for site in sites %}
    <div class='website'>
        <div>
            <div class="ws-logo">
                <a target="_blank" href="{{escape(site.website)}}" title="{{escape(site.sitename)}}">
                {% if site.logo is None %}
                    {{escape(site.sitename[0:25])}}
                {% else %}
                    <img src="{{site.logo}}" />
                {% end %}
                </a>
            </div>
            <div class="ws-desc">
                <a target="_blank" href="http://sites.poweredsites.org/{{site.slug}}" title="{{escape(site.sitename)}}">
                {{escape(site.description if site.description.strip() else site.sitename)}}
                </a>
            </div>
        </div>
        <div class="ws-powereds">
            Powered by:{{modules.website_powereds(site.id)}}
        </div>
        <div class="ws-user">
            <div class="span-5 left">                
                <span>Page Rank:{{"unknown" if site.pr == -1 else site.pr}}</span>                
            </div>
            <div class="span-10 fright">
                {{site.created}}
            </div>                
        </div>
    </div>
	{% end %}  
</div>	
 <div id="userR" class="span-6 last">
    {% include ../submit_links.html %}
 </div>
{% end %}
