<div style="padding:3px 0;" class="wrapperL last right">        
    {% if site_before and site_next %}
        &lt;&nbsp;<a class="highlight" title="{{escape(site_next.sitename)}}" href="http://sites.poweredsites.org/{{site_next.slug}}">{{escape(site_next.sitename[0:40])}}</a>&nbsp;&nbsp;
        |&nbsp;&nbsp;&nbsp;<a class="highlight" title="{{escape(site_before.sitename)}}" href="http://sites.poweredsites.org/{{site_before.slug}}">{{escape(site_before.sitename[0:40])}}</a>&nbsp;&gt;
    {% elif site_before %}
       <a class="highlight" title="{{escape(site_before.sitename)}}" href="http://sites.poweredsites.org/{{site_before.slug}}">{{escape(site_before.sitename[0:40])}}</a>&nbsp;&gt;
    {% elif site_next %}        
       &lt;&nbsp;<a class="highlight" title="{{escape(site_next.sitename)}}" href="http://sites.poweredsites.org/{{site_next.slug}}">{{escape(site_next.sitename[0:40])}}</a>        
    {% end %}
</div>