{% extends ../base.html %}

{% block body %}
<div id="websites">
    <div class="wrapperL">
        {% include neighbour_sites.html %}
        <div class="wrapperL last">
        	<div class="span-10" style="overflow:hidden;">
	    		<h2 class="span-10 last"><a target="_blank" href="{{site.website}}">{{escape(site.sitename)}}</a></h2>
				<div class="span-10 last" style="width:380px;padding:0 5px 5px 5px">
		            Page Rank:&nbsp;{{"unknown" if site.pr == -1 else site.pr}}&nbsp;&nbsp;
		            Submitted by:&nbsp;<a href="http://poweredsites.org/user/{{site.username}}">{{escape(site.openid_name)}}</a>
		            {% if handler.is_staff or (current_user and current_user.id == site.user_id) %}
		                &nbsp;&nbsp;<a style="text-decoration:underline;" class="highlight" href="http://poweredsites.org/submit/site?site={{site.uuid_}}">Edit</a>
		            {% end %}
		        </div>  
				<div class="span-10 last label" style="width:380px;padding:5px">Powered by:</div>
	            {% for p in powereds %}
	                <a target="_blank" class="powered" href="http://{{p.subdomain}}.poweredsites.org/">{{escape(p.project)}}</a>
	            {% end %}
			</div>
    		<div class="span-6 last right" style="padding-top:10px;">
				<a target="_blank" href="{{site.website}}"><img src="http://images.sitethumbshot.com/?url={{site.website}}&size=M&key=097c92c0b0fad6571b92bd541aec6f62" alt="{{site.sitename}}"/></a>
    		</div>
        </div>
        <!--
		<a class="span-16 last center" style="border:1px solid #ccc;" target="_blank" href="{{site.website}}" title="{{escape(site.sitename)}}"><img width="600" height="450" src="http://static.poweredsites.org/snapshot/{{site.uuid_[0:2]}}/{{site.uuid_}}.png"></a>
		-->
        <div class="ws-content">           
            <span class="span-16 last label">Description:</span>{{site.description}}
        </div>
		<div class="ws-content">       
            <span class="span-16 last label">Usecase:</span>{{site.usecase_md}}
        </div>
        {% if site.source_url %}
        <div class="ws-content">            
            <span class="span-16 last label">Source code:</span>            
            <a target="_blank" href="{{site.source_url}}">{{site.source_url}}</a>
        </div>
        {% end %}		
        {% include neighbour_sites.html %}
		<div class="comments">
		    <div id="disqus_thread"></div>
		    <script type="text/javascript">
		      /**
		        * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
		        */
		      (function() {
		       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		       dsq.src = 'http://poweredsites.disqus.com/embed.js';
		       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		      })();
		    </script>
	        <a href="{{request.full_url().replace('#disqus_thread', '')}}#disqus_thread">Comments</a>
			<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
		</div>
    </div>
</div>
<div id="websites-r" class="span-6 last">
    {% include ../submit_links.html %}
    {{modules.side_projects()}}
</div>
{% end %}

{% block bottom %}
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=poweredsites">comments powered by Disqus.</a></noscript>
    <script type="text/javascript">
    var disqus_shortname = 'poweredsites';
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.src = 'http://disqus.com/forums/poweredsites/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>    
    <script type="text/javascript" src="{{static_url('js/highlight.js')}}"> </script>    
	<script>
		  hljs.tabReplace = '    ';
		  hljs.initHighlightingOnLoad();
    </script>    
{% end %}