{% extends submit_base.html %}

{% block submitform %}
<div class="wrapper">
    <div class="label first">
        Your site:&nbsp;&nbsp;<a target="_blank" href="http://sites.poweredsites.org/{{context.website.slug}}">{{escape(context.website.sitename)}}</a>
    </div>
    <input class="hide" name="site_id" value="{{context.website.id}}" type="text">
</div>
<div class="wrapper">
    <div class="label">
        Powered by:
    </div>
    <div id="projects" class="span-17">
        {% for project in handler.projects %}
		    <span class="project">
			{% if str(project.id) in context.powered_projects %}
			    <input name="projects" checked="checked" type="checkbox" value="{{project.id}}">{{escape(project.project)}}
            {% else %}
			    <input name="projects" type="checkbox" value="{{project.id}}">{{escape(project.project)}}
            {% end %}
			</span>
		{% end %}
		<input name="powered_projects" class='hide' type="text" value="{{'-'.join(context.powered_projects)}}">
    </div>
</div>
<div class="wrapper">
    <input id='btnSubmit' value="Submit" class="button" type="submit">
</div>
{% end %}