{% extends submit_base.html %}

{% block submitform %}
<div class="wrapper">            	
    <div class="label first">
        Sitename:<span class="red">*</span>:
    </div>
    <input class="span-12" name="sitename" maxlength="100" type="text" value="{{escape(context.metainfos.get('sitename', ''))}}">                
</div>
<div class="wrapper">                
    <div class="label">
        Website(url):<span class="red">*</span>:
    </div>
    <input class="span-12" name="website" maxlength="600" type="text" value="{{context.metainfos.get('website', '')}}">                
</div>
<div class="wrapper">                
    <div class="label">
        Description:
    </div>
    <textarea style="height:150px;border:1px solid #BBBBBB;" class="span-12" name="desc" maxlength="600">{{escape(context.metainfos.get('description', ''))[0:600]}}</textarea>
</div>
<div class="wrapper">
    <div class="label">
        LOGO:
    </div>
    <input class="span-12" name="logo" maxlength="600" type="text" value="{{context.metainfos.get('logo', '')}}">  
    <span class="notes">Logo image location(url), be sure smaller than 300 * 120.</span>              
</div>
<div class="wrapper">                
    <div class="label">
        Source code(url):
    </div>
    <input class="span-12" name="source_url" maxlength="600" type="text" value="{{context.metainfos.get('source_url', '')}}">                
</div>
<div class="wrapper">                
    <div class="label" style="margin-bottom:5px;">
        Use case(technical summary):
    </div>
	<div class="wrapper">
	    <div id="wmd-button-bar"></div>
        <textarea style="height:200px;border:1px solid #BBBBBB;" id="wmd-input" name="usecase" maxlength="2000">{{escape(context.metainfos.get('usecase', ''))}}</textarea>
	    <div id="wmd-preview" class="preview"></div>
	</div>
</div>			
<div class="wrapper">
	<input class="hide" name="site" type="text" value="{{context.metainfos.get('uuid_', '')}}"> 
    <input id='btnSubmit' value="Next" class="button" type="submit">
</div>
{% end %}

{% block bottom %}
    <script type="text/javascript" src="{{static_url('js/showdown.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/wmd.js')}}"></script>
{% end %}