{% extends submit_base.html %}
{% block submitform %}
<div class="wrapper">            	
    <div class="label first">
        Sitename:<span class="red">*</span>:
    </div>
    <input class="span-12" name="sitename" maxlength="100" type="text" value="{{escape(context.metainfos.get('title', ''))}}">                
</div>
<div class="wrapper">                
    <div class="label">
        Website(url):<span class="red">*</span>:
    </div>
    <input class="span-12" name="website" maxlength="600" type="text" value="{{context.metainfos.get('website', '')}}">                
</div>
<div class="wrapper">                
    <div class="label">
        Description:
    </div>
    <textarea class="span-12" name="desc" maxlength="400">{{escape(context.metainfos.get('description', ''))[0:400]}}</textarea>
</div>
<div class="wrapper">              
    <div class="label">
        LOGO:
    </div>
    <input class="span-12" name="logo" maxlength="600" type="text">  
    <span class="notes">Logo image location(url), be sure smaller than 225 * 120.</span>              
</div>
<div class="wrapper">                
    <div class="label">
        Source code(url):
    </div>
    <input class="span-12" name="source_url" maxlength="600" type="text">                
</div>
<div class="wrapper">                
    <div class="label" style="margin-bottom:5px;">
        Use case(technical summary):
    </div>
	<div class="wrapper">
        <textarea id="markedit" name="usecase" maxlength="2000"></textarea>
	    <div id="preview" class="preview"></div>
	</div>
</div>			
<div class="wrapper">
    <input id='btnSubmit' value="Submit" class="button" type="submit">
</div>
{% end %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" />
{% end %}

{% block bottom %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{static_url('js/showdown.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/markedit.js')}}"></script>
	<script type="text/javascript">//<![CDATA[		
        // Create a MarkEdit editor on page load
        $(function(){
            $('#markedit').markedit({
                'preview' : false,
                'postload' : function() {
                    $('div.preview').each(function() {
                       $('#markedit').markeditBindAutoPreview(this); 
                    });
                }
            });
        });
		//]]>
    </script>
{% end %}