<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="{{escape(context.keywords)}}" />
        <meta name="description" content="{{escape(context.description[0:200])}}" />
        <meta name="author" content="{{context.options.author}}" />
        <title>{{escape(context.title + context.options.title_suffix if context.title else context.options.default_title)}}</title>
        <style type='text/css'>
            {% include background.css %}
        </style>
        {% if context.options.combined_media %}
            <link rel="stylesheet" href="{{static_url('css/combined.css')}}" type="text/css"/>
        {% else %}
            <link rel="stylesheet" href="{{static_url('css/blueprint/screen.css')}}" type="text/css"/>        
            {% for css in context.css %}
            <link rel="stylesheet" href="{{static_url('css/' + css)}}" type="text/css"/>
            {% end %}            
        {% end %}
        <link rel="shortcut icon" href="{{static_url('img/favicon.ico')}}" type="image/x-icon" />
        <link href="http://poweredsites.org/feeds" title="Feeds" type="application/atom+xml" rel="alternate"/>
        {% block head %}{% end %}
    </head>
    <body>
        <div id="wrapper">
            <div id="topnav">
                <div id="hot-projects">
                    {{modules.hot_projects()}}
                </div>
                <div id="usernav">
                    {% if current_user is None %}					  
					    <a href="http://poweredsites.org/login?next={{url_escape(request.full_url())}}">OpenID Login</a>
                    {% else %}					
                        <a class='orange' title="{{escape(current_user.openid_name)}}" href="http://poweredsites.org/user/{{current_user.username}}">Welcome,{{escape(current_user.openid_name[0:40])}}</a>
						<a href="http://poweredsites.org/user/profile">Edit profile</a>
						<a href="http://poweredsites.org/logout" class="gray">Logout</a>
                    {% end %}
                </div>
            </div>
            <div id="body">
                <div id="header">
                    <div id="header-bottom">
                        {% include header.html %}                   
                    </div>
                </div>
                <div id="content">
                    <div id="content-bottom">
                        <div id="content-body">
                            {% block body %}{% end %}
                        </div>
                    </div>
                </div>
                <div id="footer">
                    {% include footer.html %}
                </div>
            </div>
        </div>
    </body>
</html>
