<div id="siteinfo" class="center">
    <div id="links">
    	{% block feeds_link %}    
            <a target="_blank" href="http://poweredsites.org/feeds">Feeds</a>
		{% end %}     
        |<a href="http://blog.poweredsites.org">Blog</a>          
        |<a href="http://poweredsites.org/help">About</a>
        |<a href="http://poweredsites.org/help/contact">Contact</a>
        |<a href="http://poweredsites.org/help/terms">Terms of Service</a>
        |<a href="http://poweredsites.org/help/policy">Privacy Policy</a>     
    </div>
    <div id="poweredby">
        <span>&copy;2010&nbsp;PoweredSites. All rights reserved.</span>
        <span>Powered by</span>
        <a href="http://python.poweredsites.org/" title="Poweredby Python">Python</a>
        <a href="http://tornado.poweredsites.org/" title="Poweredby Tornado">Tornado</a>                                                 
    </div>
</div>
<div id="_bottom">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js">
    </script>
    {% if context.options.combined_media %}
        <script type="text/javascript" src="{{static_url('js/combined.js')}}"> </script>
    {% else %}
        {% for js in context.js %}
        <script type="text/javascript" src="{{static_url('js/' + js)}}">
        </script>
        {% end %}
    {% end %}    
    <script type="text/javascript">    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{context.options.gaNo}}']);
      _gaq.push(['_setDomainName', '{{context.options.cookie_domain}}']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })(); 
    </script>
    <noscript>
        <div style="color:#ff0000;">
            JavaScript is turned off in your web browser. Turn it on to take full advantage of PoweredSites, then refresh the page.
        </div>
    </noscript>
    {% block bottom %}{% end %}
</div>