{% extends ../base.html %}
{% block sitelinks %}
<div id="site-links">                   
    <a href="http://poweredsites.org/">Home</a>
    <a href="http://sites.poweredsites.org">Sites</a>
    <a href="http://chat.poweredsites.org">Chat</a>  
    <a href="http://blog.poweredsites.org">Blog</a>
    <a class="select" href="http://wiki.poweredsites.org">Wiki</a>                           
    <a target="_blank" href="http://groups.google.com/group/poweredsites">Group</a>
</div>
{% end %}

{% block body %}
<h2>Wiki page is comming soon, please try here again later.</h2>
{% end %}