 {% extends ../base.html %}
 
 {% block sitelinks %}
<div id="site-links">                   
    <a href="http://poweredsites.org/">Home</a>
    <a href="http://sites.poweredsites.org">Sites</a>
    <a class="select" href="http://chat.poweredsites.org">Chat</a>
    <a href="http://blog.poweredsites.org">Blog</a>
    <a href="http://wiki.poweredsites.org">Wiki</a>                          
    <a target="_blank" href="http://www.google.com/profiles/poweredsites#buzz">Buzz</a>
</div>
{% end %}

{% block body %}
    <div id="chat-body" class="span-16">	  
	    <h3>Projects Chatroom</h3>   
	    {% for project in projects %}
	    <span class='project'>
	         <a href="http://chat.poweredsites.org/{{project.subdomain}}" title="{{escape(project.project)}}">{{project.subdomain}}</a>
	    </span>
	    {% end %}
    </div>
    <div id="chat-r" class="span-6 last">
        {% include ../submit_links.html %}
        {% include ../donate.html %}
    </div>  
{% end %}