{% extends submit.html %}

{% block submitform %}
    <div class="wrapper">
        <div class="label first">
            Website(url):
        </div>
        <input id="sf-website" class="span-12" name="website" maxlength="600" type="text"><span class="notes">The url of the project website or homepage.</span>
    </div>
    <div class="wrapper">
        <input id='btnSubmit' value="Next" class="button" type="submit"><a class='prepend-1 gray' style="text-decoration:underline;" href="http://poweredsites.org/submit/project">No website yet, Go to next.</a>
    </div>
{% end %}
