{% extends "blog.html" %}

{% block blog_content %}
    {% include neighbour_entries.html %}  
    {{ modules.entry(entry) }}
    {% include neighbour_entries.html %} 
	<div class="comments">
	    <div id="disqus_thread"></div>
	    <script type="text/javascript">
	      /**
	        * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
	        */
	      (function() {
	       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	       dsq.src = 'http://poweredsites.disqus.com/embed.js';
	       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	      })();
	    </script>
	    <a href="{{request.full_url().replace('#disqus_thread', '')}}#disqus_thread">Comments</a>
	    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>  
{% end %}

{% block bottom %}
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=poweredsites">comments powered by Disqus.</a></noscript>
    <script type="text/javascript">
    var disqus_shortname = 'poweredsites';
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.src = 'http://disqus.com/forums/poweredsites/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    
    <script type="text/javascript" src="{{static_url('js/highlight.js')}}"> </script>    
    <script>
          hljs.tabReplace = '    ';
          hljs.initHighlightingOnLoad();
    </script>              
{% end %}