{% extends "blog.html" %}

{% block blog_content %}
    {% for entry in entries %}
        {{ modules.entry(entry) }}
    {% end %}
    <div>
        <a href="/archive">{{ _("Archive") }}</a>&nbsp;&nbsp;
    	<a href="/feeds">{{ _("Feeds") }}</a>
    </div>
{% end %}

{% block bottom %}
    <script type="text/javascript" src="{{static_url('js/highlight.js')}}"> </script>    
    <script>
          hljs.tabReplace = '    ';
          hljs.initHighlightingOnLoad();
    </script>              
{% end %}