<div id="side-projects" class="sidebox">
	<h3>Project chat rooms</h3>	
    {% for project in projects %}
	<span class='side-project'>		
	    {% if project.id in hot_projects %}
		    <a class="hot" href="http://chat.poweredsites.org/{{project.subdomain}}" title="{{escape(project.project)}}">{{project.subdomain}}</a> 
		{% else %}
		    <a href="http://chat.poweredsites.org/{{project.subdomain}}" title="{{escape(project.project)}}">{{project.subdomain}}</a> 
	    {% end %}
	</span>
    {% end %}
</div>
